# Git and environments
.git/
.gitignore
.env
venv/
__pycache__/
*.pyc

# Flutter/Dart specific
.dart_tool/
.idea/
.vscode/
build/
ios/
android/
macos/
linux/
web/
windows/
lib/
test/
pubspec.lock
pubspec.yaml

# SECRETS (Ensure backend config files aren't publicly baked into the image)
server/firebase_cred.json
